#outer
{
	height:auto;
	width:100%;
	//border:1px solid;
}
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: black;
}

.navbar a.active {
  background-color: gray;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
#text
{
	height:60%;
	width:100%;
	//border:0px inset #fff;
background-image:url(Image/icon.jpg);
    text-align:center;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
	//background-color:rgba(0,0,0,0.3);
	//color:;
	//font-weight:bold;
	display:block:
}
#word
{
	height:80%;
	width:100%;
	//border:1px solid;
}
#part
{
	height:100%;
	width:100%;
	//border:1px solid;
	//background-image:url(Image/icon1.jpg);
	background-color:#fff;
}
#part1
{
	height:100%;
	width:30%;
	//border:1px solid;
	float:left;
}
#part1a
{
	height:50%;
	width:100%;
	//background-color:skyblue;
	//border:1px solid;
}
#part1b
{
	height:50%;
	width:100%;
	//background-color:red;
	//border:1px solid;
}

#part2
{
	height:100%;
	width:70%;
	//border:1px solid;
	float:left;
}
#part2a
{
	height:50%;
	width:100%;
	//background-color:blue;
}
#part2b
{
	height:50%;
	width:100%;
	//background-color:skyblue;
}
#part2a1
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#part2a2
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#part2a3
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#part2b1
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#part2b2
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#part2b3
{
	height:80%;
	width:30%;
	//border:1px solid;
	float:left;
	margin:15px;
	box-shadow:5px 6px 10px 10px #333;
}
#footer
{
	height:50px;
	width:100%;
	//border:1px solid;
	background-color:blue;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}